@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AirBnB';
    src: url('../src/assets/airbnb-cereal-font/AirbnbCereal_W_Lt.otf');
    /* tambahkan properti lainnya seperti font-weight dan font-style jika diperlukan */
}

html, body {
    font-family: 'AirBnB';
}

body {
    background-color: #E5E5E5;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}